html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1f2937;
    padding: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    min-width: 50%;
    display: flex;
}

ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    color: #f9faf8;
    min-width: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: #949da8;
    font-size: 18px;
    font-weight: 500;
}

/* hero section */

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
}

.copy {
    color: #f9faf8;
    width: 45%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero h3 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.hero button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.hero-img {
    width: 45%;
}

.hero-img .img {
    width: 100%;
}

/* random info section */
.random-info {
    padding: 5vh 15%;
    text-align: center;
    color: #1f2937;
}

.random-info h2 {
    font-size: 36px;
    font-weight: 900;
}

.random-info .img {
    border: 3px solid #3882f6;
    border-radius: 30px;
    width: 100%;
}

.card-set {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0 40px;
}

.card {
    font-size: 22px;
    padding: 30px 0;
    margin: auto;
    width: 200px;
}

/* quote section */
section.quote {
    background-color: #e5e7eb;
    padding: 10vh 23%;
}

p.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

p.name {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding: 0 80px;
}

/* cta section */
.cta {
    border-radius: 10px;
    background-color: #3882f6;
    margin: 10vh 15%;
    padding: 5vh 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cta-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.cta-body {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.cta-button button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    padding: 8px 40px;
}

/* footer */
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 3vh;
}