header {
    background-color: #1f2937;
    padding: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 50%;
    display: flex;
}

ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: #949da8;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero section */

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
}

.copy {
    font-family: Arial, Helvetica, sans-serif;
    color: #f9faf8;
    width: 45%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero h3 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.hero button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.hero-img {
    width: 45%;
}

.hero-img .img {
    width: 100%;
}